* {
    margin: 0;
}
/*
div {
	outline: #00FF00 solid 1px;
}
*/

html, body {
    height: 100%;
    width: 100%;
    -moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#main-div {
	display: table;
	height: 100%;
    width: 100%;
}

.panel {
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

.hpanel {
	display: table;
	width: 100%;
}

.container {
	margin: 0 auto;
	text-align: center;
}

.card {
	/* size defined by js */
	
	height: 95%;
	background-color: #545f5f;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
