* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    -moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#main-div {
	display: table;
	height: 100%;
    width: 100%;
}

.panel {
	display: table-cell;
	vertical-align: top;
	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #AAC000;
	padding-top: 0.7%;
}

.container {
	/* size defined by js */
	border-style: solid;
	border-width: 1px;
	border-color: #AAC000;
	text-align: center;
}

.card {
	/* size defined by js */
	background-color: #545f5f;
	display: inline-block;
}
